.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.add-employee-form  {
	width: 91%;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="email"],
.container .dropdown,
.container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#departmentId{
  width: 106%;
}

.container input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  margin: 20px auto 0 10px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #45a049;
}
