body {
    margin: 0;
    padding: 0;
}

.container {
    font-size: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: auto;
    width: 70%;
}

nav {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: right;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table .rows {
    font-weight: lighter;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.addButton ,.exportButton {
    margin-top: 1%;
    margin-right: 7%;
    float: right;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    margin-right: 5px;
}
